import(methods)
import(grDevices)
importFrom(graphics, "plot.new")
import(stats)
import(grid)
importFrom(grImport, PostScriptTrace, readPicture, picture)
import(biomaRt)
##importFrom(UniProt.ws, keys, select)
import(pheatmap)
import(motifStack)
import(Biostrings)
exportPattern("^[[:alpha:]]+")
